Hallo {{name}},

Sie wurden im Zielbildgenerator als Standort-Administrator:in angelegt, um Umfragen durchführen zu können.
Bitte klicken Sie auf {{url}} um die Registrierung abzuschließen.
Sie können im Anschluss ein Passwort vergeben und sich dann mit Ihrer E-Mail-Adresse und Ihrem Passwort anmelden.

Sollten Sie Rückfragen haben, wenden Sie sich bitte an unser Support-Team unter support@vermarktungsplattform.de.

Beste Grüße,
Ihr Team von der Vermarktungsplattform
