<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
<p>Hallo {{name}},</p>

<p>
    Bitte klicken Sie <a href="{{url}}">hier</a>, um die Registrierung abzuschließen.
</p>

<p>
    Sie können im Anschluss ein Passwort vergeben und sich dann mit Ihrer E-Mail-Adresse und Ihrem Passwort anmelden.
</p>

<p>
    Sollten Sie Rückfragen haben, wenden Sie sich bitte an unser Support-Team.
</p>

<footer>
    <p>Beste Grüße,<br/>Ihr Team von der Vermarktungsplattform Dietenbach</p>
</footer>
</body>
</html>
