<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <p>Hallo,</p>
      <p>Sie haben den Zuschlag für ihre Bewerbung erhalten. Weitere Informationen erhalten Sie nach der Anmeldung mit Ihren Zugangsdaten auf der Vermarktungsplattform.</p>
      <footer>
        <p>Beste Grüße,<br/>Ihr Team von der Vermarktungsplattform Dietenbach</p>
      </footer>
  </body>
</html>
