Hallo,

Sie haben den Zuschlag für ihre Bewerbung erhalten. Weitere Informationen erhalten Sie nach der Anmeldung mit Ihren Zugangsdaten auf der Vermarktungsplattform.

Beste Grüße,
Ihr Team von der Vermarktungsplattform Dietenbach
