<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <p>Hallo,</p>
      <p>Sie haben in der Vermarktungsplattform eine neue Nachricht erhalten. Bitte loggen Sie sich mit Ihren Zugangsdaten ein, um die Nachricht zu lesen.</p>
      <footer>
        <p>Beste Grüße,<br/>Ihr Team von der Vermarktungsplattform Dietenbach</p>
      </footer>
  </body>
</html>
