Hallo {{email}},


Sie haben eine Anforderung zum Zurücksetzen Ihres Passworts gesendet.
Bitte klicken Sie hier um ein neues Passwort zu vergeben:

{{url}}

Sollten Sie Rückfragen haben, wenden Sie sich bitte an unser Support-Team.

Beste Grüße,
Ihr Team von der Vermarktungsplattform Dietenbach
