Hallo,

Ihre Bewerbung konnte leider in laufenden Verfahren nicht berücksichtigt werden. Gerne kommen wir aber auf Sie zu, sollte das Konzept für ein anderes Grundstück passen.

Beste Grüße,
Ihr Team von der Vermarktungsplattform Dietenbach
