<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <p>Hallo,</p>
      <p>Ihre Bewerbung konnte leider in laufenden Verfahren nicht berücksichtigt werden. Gerne kommen wir aber auf Sie zu, sollte das Konzept für ein anderes Grundstück passen.</p>
      <footer>
        <p>Beste Grüße,<br/>Ihr Team von der Vermarktungsplattform Dietenbach</p>
      </footer>
  </body>
</html>
